
    <!-- Page Header -->
    <header class="masthead" style="background-image: url(<%= image_path 'img/contact-bg.jpg'%>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Blog Rails</h1>
              <span class="subheading">Your Inspiration</span>
            </div>
          </div>
        </div>
      </div>
    </header>



<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-5 mx-auto">
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <p id="notice"><%= notice %></p>


<table class='table' border="1">
  <thead>
    <tr>
      <td style="font-size: 16px;"><b><center>User Id</center></b></td>
      <td style="font-size: 16px;"><b><center>Title</center></b></td>
      <td style="font-size: 16px;"><b><center>Summary</center></b></td>
      <td style="font-size: 16px;"><b><center>Title Image</center></b></td>
      <!-- <td style="font-size: 16px;"><b><center>Title Image</center></b></td> -->
      <td style="font-size: 16px; " colspan="3"><b><center>Action</center></b></td>
      </tr>
  </thead>

  <tbody>
    <% @post_blogs.includes(:user).each do |post_blog| %>
      <tr>
        <td><%= post_blog.user.name %></td>
        <td><%= post_blog.title %></td>
        <td><%= post_blog.summary %></td>
         <!--<td><%= post_blog.content %></td> -->
        <td style="width: 100px;"><%= post_blog.title_image %></td>
        <!--  <td><img style="width: 100px; height: 100px;" src=<%= post_blog.title_image %>></td>> -->
        <td><%= link_to 'Show', post_blog %></td>
        <td><%= link_to 'Edit', edit_post_blog_path(post_blog) %></td>
        <td><%= link_to 'Destroy', post_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Post Blog', new_post_blog_path , class: 'btn btn-primary' %>


<br>

            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>
