
    <!-- Page Header -->
    <header class="masthead" style="background-image: url(<%= image_path 'img/contact-bg.jpg'%>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Blog Rails</h1>
              <span class="subheading">Your Inspiration</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    
<div class="container">
    <!-- Main Content -->
    <section>
      <% @post_blogs.each do |post_blog| %>
      
        <div class="row">
          <div class="col-md-8">
            <div class="row" style="margin: 30px;">
              <div class="col-md-20">
            <div class="post">
              <img style="width: 100%; height: 350px"src=<%= post_blog.title_image %>>
              <div class="post-content">
                <h3><%= post_blog.title %></h3>
                <p><%= post_blog.summary %></p>
                <%= link_to 'Show', post_blog , class: 'btn btn-primary'%>

                <td><%= link_to 'Edit', edit_post_blog_path(post_blog) , class: 'btn btn-primary'%></td>
        <td><%= link_to 'Destroy', post_blog, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary' %></td>
             
              </div>
           </div>

          </div>
          
          
        </div>
      </div>

        
        <% end %>

          <%= link_to 'New Post Blog', new_post_blog_path , class: 'btn btn-primary' %> 
 
        </div>
    </section>

    <hr>
