
    <!-- Page Header -->
<% if !@post_blog.title_image.present? %>
		<header class="masthead" style="background-image: url(<%= image_path 'img/contact-bg.jpg'%>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1> <%= @post_blog.title %>
</p></h1>
              <span class="subheading">  <%= @post_blog.summary %></span>
            </div>
          </div>
        </div>
      </div>
    </header>

<% else %>
	<header class="masthead" style="background-image: url(<%= image_url @post_blog.title_image %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1> <%= @post_blog.title %>
</p></h1>
              <span class="subheading"><%= @post_blog.summary %></span>
            </div>
          </div>
        </div>
      </div>
    </header>
 <% end %>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <div class="form-group">

          	<p id="notice"><%= notice %></p>
<p>
    <%= @post_blog.content %>
</p>

<% if session[:user_id].present? %>
	<% if session[:user_id] == @post_blog.user_id %>
	<%= link_to 'Edit', edit_post_blog_path(@post_blog), class: 'btn btn-edit'%> <% end%> <% end %>

            </div>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>
