
    <!-- Page Header -->
    <header class="masthead" style="background-image: url(<%= image_path 'img/contact-bg.jpg'%>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
              <span class="subheading">USER INPUT</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="form-group">
            <p id="notice"><%= notice %></p>
            </div>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->

            <%= form_tag('attempt', :method => :post) do  %>
          
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                  
                    <div class="control-group field">
                      <%= label_tag :name, class: 'form-control', placeholder:'Name' %>
                      <%= text_field_tag :name, params[:name], class: 'form-control', placeholder:'Name' %>
                      <p class="help-block text-danger"></p>
                    </div>

                      <div class="control-group field">
                      <%= label_tag :password %>
                      <%= password_field_tag :password, params[:password], class: 'form-control', placeholder:'password' %>
                      <p class="help-block text-danger"></p>
                    </div>

              </div>
            </div>
            
            <br>
            <div id="success"></div>

            <div class="actions">
              <center><%= submit_tag "Login", class: "btn btn-primary btn-block"%></center>
              <center><p>Dont have an accout?
              <%= link_to 'Sign In', new_user_path  %> here
              </p></center>
            </div>

            
            <% end %>          
        </div>
      </div>
    </div>

    <hr>
