
    <!-- Page Header -->
    <header class="masthead" style="background-image: url(<%= image_path 'img/contact-bg.jpg'%>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Rails Blog</h1>
              <span class="subheading">Post whatever you want!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>User List</p>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <p id="notice"><%= notice %></p>

<h1>Users</h1>

<table border="1">
  <thead>
    <tr>
      <td style="font-size: 16px;"><b><center>Number</center></b></td>
      <td style="font-size: 16px;"><b><center>Name</center></b></td>
      <td style="font-size: 16px;"><b><center>Email</center></b></td>
      <td style="font-size: 16px; " colspan="3"><b><center>Action</center></b></td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_user_path(user) , class: 'btn btn-edit' %></td>&nbsp;
        <td><%= link_to 'Destroy', user, class: 'btn btn-destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </thead>

  <tbody>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path , class: 'btn btn-primary' %>

            </div>
          </form>
        </div>
      </div>
    </div>

    
